.base {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  min-height: 70vh;
  padding: 1rem;

  @include mq(mobile-lg) {
    padding: 3rem;
  }

  &__header {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__left {
    width: 40%;

    @include mq(mobile-lg) {
      width: 100%;
    }
  }

  &__center {
    width: 20%;

    @include mq(mobile-lg) {
      width: 100%;
    }
  }

  &__right {
    width: 40%;

    @include mq(mobile-lg) {
      width: 100%;
    }
  }
}