.items-list {
  list-style: none;

  &__item {
    cursor: pointer;
    padding: 1rem;
    background: transparent;
    transition: background ease-out .3s;
    font-size: .8em;
    font-weight: 600;

    &:hover {
      background: $color-list-bg;
    }

    @include mq(mobile-lg) {
      font-size: 1em;
    }
  }
}